<body class="auth-bg">

<div id="login-container">
  <span class="usa-header auth-header">Login</span>
  <br>
  <%= flash[:error] %><br>
  <%= form_tag '/sessions' do %>

    <p>Email: <%= text_field_tag :email %></p><br>
    Password: <%= password_field_tag :password %>
    <%= submit_tag "Submit" %>

  <% end %>
</div>
