<div id="registration-container">
  <h1>Sign Up</h1>

  <%= flash[:error] %>
  <%= form_for :user, url: '/users' do |f| %>

    User Name: <%= f.text_field :username, class: 'auth-inputs' %><br><br>
    Email: <%= f.text_field :email, class: 'auth-inputs' %><br><br>
    Password: <%= f.password_field :password, class: 'auth-inputs' %>
    Password Confirmation: <%= f.password_field :password_confirmation, class: 'auth-inputs' %><br>
    <%= f.submit "Register" %>

  <% end %>
</div>
