<div class="usa-grid usa-width-one-half" id="profile-page-main-cont">
  <div id="profile-info-cont">
    <span id="profile-username-header"><%= @user.username %></span>
    <div id="profile-badge-display">
      <%= image_tag 'law.png', class: "badge-icon" %>
      <%= image_tag 'learning.png', class: "badge-icon" %>
      <%= image_tag 'lecture-1.png', class: "badge-icon" %>
      <%= image_tag 'writing.png', class: "badge-icon" %>
      <%= image_tag 'lecture.png', class: "badge-icon" %>
      <%= image_tag 'notebook.png', class: "badge-icon" %>
    </div>
    <br>
    <%= image_tag @user.avatar.url(:medium), id: "profile-photo-cont" %>
    <div class="profile-basic-info">
      <%= @user.city %><br>
      <%= @user.state %><br>
      <%= @user.country %><br>
      <%= @user.ideology %><br>
      <%= @user.party %><br><br>
      <% if signed_in? && @user.id == current_user.id %>
        <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <% end %>
    </div>
    <div class="profile-basic-info">
      <%= "Issues:" %><br>
      <%= "Verified:" %><br>
      <%= "Digiciti Since: #{@user.created_at.strftime('%m/%d/%y')}" %><br>
      <%= "Organizations: " %><br>
      <%= "Profile Type: " %><br><br>
    </div>
    <% if signed_in? && @user.id != current_user.id && !friend?(@user.id) %>
    <%= button_to "Add Contact", friendships_path(add_id: @user.id), method: :post %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
  </div>

    <% if signed_in? && @user.id == current_user.id %>
      <%= link_to 'New Post', new_entry_path, remote: true, id: "new-post-btn", class: "usa-button" %>
    <% end %>
    <div id="profile-post-form-cont">
      <%= render '/entries/profile_post_form' %>
    </div>

  <div id="profile-posts-cont">
    <% @posts.each do |post| %>
      <%= render '/entries/show', post: post %>
    <% end %>
  </div>
</div>
