<div id="quiz-form-box">
  <p>Enter your quiz responses to determine your likely political leaning on a spectrum of liberal to conservative:</p>
  <p>Note that being liberal or conservative is not the same as being a Democrat or Republican. We may be surprised that Liberal to Democrat, and Conservative to Republican correlations are not nearly as strong as we thought.</p>
  <br><br>
  <% if current_user %>
    <form class="" action="/quiz_responses" method="post">
      <p> <%= @quiz.question_1 %></p>
      <select class="quiz-dropdown" class="quiz-dropdown" name="response[response_1]" required>
        <option value="">select response</option>
        <option value="Strongly Agree">Strongly Agree</option>
        <option value="Agree">Agree</option>
        <option value="Disagree">Disagree</option>
        <option value="Strongly Disagree">Strongly Disagree</option>
        <!-- <option value="N/A">N/A</option> -->
      </select>
      <br><br>
      <p> <%= @quiz.question_2 %></p>
      <select class="quiz-dropdown" name="response[response_2]">
        <option value="">select response</option>
        <option value="Strongly Agree">Strongly Agree</option>
        <option value="Agree">Agree</option>
        <option value="Disagree">Disagree</option>
        <option value="Strongly Disagree">Strongly Disagree</option>
        <!-- <option value="N/A">N/A</option> -->
      </select>
      <br><br>
      <p> <%= @quiz.question_3 %></p>
      <select class="quiz-dropdown" name="response[response_3]">
        <option value="">select response</option>
        <option value="Strongly Agree">Strongly Agree</option>
        <option value="Agree">Agree</option>
        <option value="Disagree">Disagree</option>
        <option value="Strongly Disagree">Strongly Disagree</option>
        <!-- <option value="N/A">N/A</option> -->
      </select>
      <br><br>
      <p> <%= @quiz.question_4 %></p>
      <select class="quiz-dropdown" name="response[response_4]">
        <option value="">select response</option>
        <option value="Strongly Agree">Strongly Agree</option>
        <option value="Agree">Agree</option>
        <option value="Disagree">Disagree</option>
        <option value="Strongly Disagree">Strongly Disagree</option>
        <!-- <option value="N/A">N/A</option> -->
      </select>
      <br><br>
      <p> <%= @quiz.question_5 %></p>
      <select class="quiz-dropdown" name="response[response_5]">
        <option value="">select response</option>
        <option value="Strongly Agree">Strongly Agree</option>
        <option value="Agree">Agree</option>
        <option value="Disagree">Disagree</option>
        <option value="Strongly Disagree">Strongly Disagree</option>
        <!-- <option value="N/A">N/A</option> -->
      </select>
      <br>
      <input type="hidden" name="response[quiz_id]" value="<%= @quiz.id %>">
      <input id="quiz-button" type="submit" value="Submit Quiz">
    </form>
  <% end %>
</div>
