<div id="nav-container">
  <%= image_tag "digiciti_logo.png", id: 'nav-logo' %>
  <h1 id="nav-title">Digital Citizen</h1>
  <div id="navbar">
    <!-- should refactor all to link_to -->
  <% if current_user %>
      <div id="nav-logged-user"><%= current_user.username %></div>
      <a class="nav-item" <%= link_to "Profile", "/users/#{current_user.id}" %></a></li>
      <a class="nav-item" <%= link_to "Logout", '/sessions/:id', method: "delete" %></a></li>
      <a class="nav-item" href='/users/hub/<%= current_user.id %>'>Hub</a></li>
  <% else %>
      <a class="nav-item" href='/users/new'>Sign Up</a></li>
      <a class="nav-item" href='/sessions/new'>Login</a></li>
      <a class="nav-item" href='/'>Home</a></li>
  <% end %>
  </div>
</div>
